.header-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.header-wrapper .nav-wrapper {
  display: flex;
}

.header-wrapper .nav-hamburger {
  display: none;
}

.header-wrapper nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-self: center;
}

.header-wrapper nav picture {
  display: flex;
  width: 173px;
}

.header-wrapper nav picture img {
  width: 100%;
  height: auto;
}

.header-wrapper .nav-sections {
  display: flex;
}

.header-wrapper .nav-sections ul {
  display: flex;
  list-style: none;
}

.header-wrapper .nav-sections ul li {
  padding: 0 10px;
}

.header-wrapper .nav-sections ul li:nth-child(1) {
  padding-left: 0px;
}

.header-wrapper .nav-sections ul li:last-child {
  padding-right: 0px;
}

.header-wrapper .nav-sections ul li a {
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  color: #000;
}

.header-wrapper .nav-sections .default-content-wrapper {
  display: flex;
  align-items: center;
}
